[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-auth-ldap = "==2.0.0"
pyasn1 = "==0.4.5"
pyasn1-modules = "==0.2.4"
python-ldap = "==3.2.0"
pytz = "==2018.5"
Django = "==2.2.13"
setuptools = "*"

[requires]
python_version = "3.7"
