{% extends 'base.html' %}

{% block pagetitle %}
	AuthDemo :: About
{% endblock %}

{% block mainheader %}About the AuthDemo{% endblock %}

{% block content %}

<h3>Purpose</h3>

<p>This is a simple Django app to demonstrate authentication in Django 2.0.x. </p>
<p>Features:</p>
    <div class="card-columns">
        <div class="card bg-white">
            <div class="card-header bg-success">Purpose</div>
            <div class="card-body">
                <p class="card-text">Basic user authentication</p>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header bg-info">Passwords</div>
            <div class="card-body">
                <p class="card-text">Password change dialogue with duplicate matching and parameter descriptions</p>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header bg-info">Passwords</div>
            <div class="card-body">
                <p class="card-text">Password reset dialogue with emailed secure tokens</p>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header bg-danger">Ease of coding</div>
            <div class="card-body">
                <p class="card-text">Uses generic class-based views for minimal coding</p>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header bg-primary">Presentation</div>
            <div class="card-body">
                <p class="card-text">Uses Bootstrap 4 for simple user interface</p>
            </div>
        </div>
        <div class="card bg-white">
            <div class="card-header bg-light">Other</div>
            <div class="card-body">
                <p class="card-text">More to be added...</p>
            </div>
        </div>

    </div>

    <h3>To do:</h3>
    <ol>
    <li>Correct error processing on authenticated pages</li>
        <li><a href="https://stackoverflow.com/questions/47209751/add-bootstrap-to-inbulit-login-view-django">Use custom template tags to add bootstrap classes to forms</a> </li>
    </ol>


{% endblock %}