{% load staticfiles %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block pagetitle %} Block: pagetitle {% endblock %}</title>
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link
	href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

 <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a class="navbar-brand" href="{% url 'about' %}">AuthDemo</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'about' %}">About</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" id="account">
                        <a href="{% url 'profile' %}" class="dropdown-toggle" data-toggle="dropdown">Account</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login' %}">Log in</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

	<div class="content container">
		<div class="row">
			<div class="col-md-8"><h1>{% block mainheader %} Block: mainheader {% endblock %}</h1></div>
			<div class="col-md-8">{% block content %} Block: content {% endblock %}</div>
		</div>
	</div>
    <hr/>
    <section id="footer">
        <div class="container">
            <div class="row  text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4s">
                {% if user.is_authenticated %}
                    <p>Logged in as <a href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
                    | <a href="{% url 'password_change' %}">change password</a>
                        | <a href="{% url 'logout' %}">log out</a>
                    </p>
                {% else %}
                <p><a href="{% url 'login' %}">Log in</a></p>
                {%  endif %}
            </div>
        </div>
        </div>
    </section>
  </body>
</html>